<html>
<head>
<title>
Create Post
</title>
</head>
<body>
**Post only for the course that you are registered for**
<form action="/cposthandle" method="POST">
Login id	<input type="text" name="user"/>
<br><br>
Password	<input type="password" name="password"/>
<br><br>
Topic   	<input type="text" name="topic">
<br><br>
Content 	<input type="text" name="content">
<br><br>
<select name="course">
{%for course in courses%}
<option value="{{course}}">{{course}}</option>
{%endfor%}
</select>
<input type="submit"></input>
</form>
<br>
<button onclick="location.href='/';">Home Page</button>
</body>
</html>
